@charset "UTF-8";
@import "reset";
@import "drawer";
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200&display=swap");

/*================================================================
common
================================================================*/
body {
  font-family: "Noto Sans CJK JP", "Manrope", sans-serif " Courier New", Courier,
    monospace;
  color: #18191f;

  .container {
    width: 960px;
    margin: auto;
  }

  a:hover {
    opacity: 0.7;
  }
}
/*================================================================
header
================================================================*/
.header {
  
}

.header-menu {
  position: fixed;
  z-index: 100;
  background: #ffffff;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 76px;
  align-items: center;
}

.header_left {
  margin: 0px 0 0 127px;

  img {
    width: 113px;
    height: 35px;
  }
}

.header-right {
  margin-right: 140px;
}

.header_nav {
  display: flex;
  font-size: 16px;
  font-weight: bold;
}

.nav_list {
  padding-right: 43px;

  &:last-child {
    padding-right: 0;
  }
}

.drawer-hamburger {
  display: none;
}


/*================================================================
top
================================================================*/
.top {
  font-family: "Noto Sans CJK JP";
  background-image: url(../images/bg_color.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: auto;
}

.top_wrapper {
  display: flex;
  padding-top: 185px;
  padding-bottom: 100px;
  justify-content: space-between;
}

.top_left {
  margin-top: 90px;
}

.top_left_title {
  font-size: 63px;
  font-weight: bold;
  line-height: 88px;
  padding-bottom: 34px;
}

.top_left_subtitle {
  font-size: 24px;
  margin-bottom: 57px;
  letter-spacing: 0.04em;
}

.phone_apps img {
  padding-right: 26px;
}

.google_logo {
  width: 204px;
  height: 54px;
}

.app_logo {
  width: 204px;
  height: 52px;
} 


/*================================================================
about
================================================================*/
.about_wrapper {
  padding-top: 80px;
}

.about_title {
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  padding-bottom: 40px;
}

.about_contents {
  font-size: 24px;
  line-height: 200%;
  letter-spacing: 0.03em;
  text-align: center;
  padding-bottom: 96px;
}
/*================================================================
review
================================================================*/
.review {
  background-color: #d2daf7;
  height: 588px;
}

.review_wrapper {
  padding-top: 92px;
}

.review_title {
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  padding-bottom: 60px;
}

.review_box {
  display: flex;
  justify-content: space-between;
}

.review_box_inner {
  background-color: #ffffff;
  width: 450px;
  height: 290px;
  border-radius: 12px;
}

.review_box_header {
  display: flex;
  padding: 27px 0 22px 21px;
}

.customer_picture img {
  border-radius: 50%;
  padding-right: 10px;
}

.review_box_right {
  padding-top: 12px;
}

.review_box_title {
  font-size: 18px;
  font-family: "Manrope";
  font-weight: bold;
  padding-bottom: 5px;
}

.review_profile {
  font-size: 16px;
  font-family: "Manrope";
}

.review_box_contents {
  margin: 0 24px;
  line-height: 170%;
}
/*================================================================
question
================================================================*/
.question {
  height: auto;
}

.question_wrapper {
  padding-top: 80px;
  padding-bottom: 96px;
}

.question_title {
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  padding-bottom: 56px;
}

.question_box {
  border: 1px solid #cccccc;
  border-radius: 8px;
  margin-bottom: 32px;
  padding: 24px 40px 24px 40px;
  position: relative;

  dt {
    display: block;
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 0.04em;
    background-image: url(../images/Polygon1.svg);
    background-repeat: no-repeat;
    background-position: right;

    &.active {
      background: url(../images/Polygon2.svg);
      background-repeat: no-repeat;
      background-position: right;
    }

    &:hover {
      cursor: pointer;
    }
  }

  dd {
    font-size: 16px;
    letter-spacing: 0.04em;
    line-height: 24px;
    padding-left: 2px;
    padding-top: 24px;
    display: none;
  }
}
/*================================================================
footer
================================================================*/
.footer {
  background-color: #000000;
  color: #ffffff;
  width: 100%;
}

.footer_wrapper {
  height: auto;
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: center;
}

.footer_image {
  padding-bottom: 31px;
}

.footer_list {
  display: flex;
  justify-content: center;
}

.footer_item {
  font-family: "Manrope";
  padding-right: 40px;
  padding-bottom: 40px;
  font-size: 16px;

  &:last-child {
    padding-right: 0;
  }
}

.footer_copyright {
  font-family: "Manrope";
  color: #d9dbe1;
  font-size: 14px;
}

/*================================================================
タブレット対応
================================================================*/
@media screen and (min-width: 768px) and (max-width: 1024px) {
  /*================================================================
common
================================================================*/
  body .container {
    width: 650px;
    margin: auto;
  }
  /*================================================================
header
================================================================*/
  .header_left {
    margin: 0px 0 0 24px;
  }

  .header-right {
    margin-right: 28px;
  }

  /*================================================================
top
================================================================*/
  .top {
    height: auto;
  }

  .top_wrapper {
    padding-bottom: 100px;
  }

  .top_left_title {
    font-size: 38px;
    font-weight: bold;
    line-height: 45px;
    padding-bottom: 26px;
  }

  .top_left_subtitle {
    font-size: 14px;
    line-height: 32px;
    margin-bottom: 37px;
    letter-spacing: 0.04em;
  }
  /*================================================================
about
================================================================*/

  /*================================================================
review
================================================================*/

  .review_box_inner {
    width: 310px;
    height: 310px;
  }

  .review_box_header {
    padding: 20px 10px 20px 10px;
  }

  .review_box_title {
    font-size: 14px;
    margin-bottom: 10px;
  }
}

/*================================================================
スマホ対応
================================================================*/
@media only screen and (max-width: 767px) {
  /*================================================================
common
================================================================*/

  body .container {
    width: 327px;
    margin: auto;
  }

  /*================================================================
header
================================================================*/

  .header_left {
    margin: 0px 0 0 20px;
  }

  .header-right {
    margin-right: 24px;
  }

  .header_nav {
    display: none;
  }

  .drawer-hamburger {
    display: block;
  }
  /*================================================================
top
================================================================*/
  .top {
    height: 572px;
  }

  .top_wrapper {
    display: block;
    padding-top: 59px;
  }

  .top_left {
    margin-top: 0;
  }

  .top_left_title {
    font-size: 32px;
    font-weight: bold;
    line-height: 45px;
    padding-bottom: 16px;
  }

  .top_left_subtitle {
    font-size: 16px;
    line-height: 32px;
    margin-bottom: 37px;
    letter-spacing: 0.04em;
  }

  .phone_apps {
    display: flex;
    justify-content: center;
    padding-bottom: 33px;
  }

  .phone_apps img {
    padding-right: 0;
    width: 134px;
    height: 40px;
  }

  .google_logo {
    margin-right: 17px;
  }

  .top_right {
    text-align: center;
  }

  .top_right img {
    width: 108px;
    height: 218px;
  }

  /*================================================================
about
================================================================*/
  .about_wrapper {
    padding-top: 40px;
  }

  .about_title {
    font-size: 32px;
    padding-bottom: 32px;
  }

  .about_contents {
    font-size: 16px;
    line-height: 32px;
    padding-bottom: 80px;
    text-align: left;
  }
  /*================================================================
review
================================================================*/
  .review {
    height: 838px;
  }

  .review_wrapper {
    padding-top: 40px;
  }

  .review_title {
    font-size: 32px;
    padding-bottom: 32px;
  }

  .review_box {
    display: block;
  }

  .review_box_inner {
    width: 327px;
    height: 282px;
    margin-bottom: 24px;
  }

  .review_box_header {
    display: flex;
    padding: 40px 9 29px 17px;
  }

  .review_box_title {
    font-size: 16px;
  }

  .review_profile {
    font-size: 14px;
  }

  .review_box_contents {
    margin: 0 16px;
  }
  .customer_review {
    font-size: 14px;
    line-height: 24px;
    text-align: left;
  }
  /*================================================================
question
================================================================*/
  .question_wrapper {
    padding-top: 63px;
  }

  .question_title {
    font-size: 32px;
    padding-bottom: 26px;
  }

  .question_box {
    border: 1px solid #cccccc;
    border-radius: 8px;
    margin-bottom: 16px;
    padding: 23px 7px 21px 7px;
    position: relative;

    dt {
      font-size: 16px;
      padding-right: 12px;
    }

    dd {
      font-size: 14px;
      line-height: 24px;
      padding-top: 16px;
      padding-right: 40px;
      display: none;
    }
  }
  /*================================================================
footer
================================================================*/
  .footer_item {
    padding-right: 12px;
    padding-bottom: 24px;
    font-size: 12px;

    &:last-child {
      padding-right: 0;
    }
  }
}
