@charset "UTF-8";
@import "reset";
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200&display=swap");

/*================================================================
common
================================================================*/
body {
  font-family: "Noto Sans CJK JP", "Manrope", sans-serif " Courier New", Courier,
    monospace;
  color: #18191f;

  .container {
    width: 960px;
    margin: auto;
  }

  a:hover {
    opacity: 0.7;
  }
}
/*================================================================
header
================================================================*/
.header {
  background: #ffffff;
}

.header-menu {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 76px;
  align-items: center;
}

.header_left {
  margin: 0px 0 0 127px;
}

.header-right {
  margin-right: 123px;
}

.header_nav {
  display: flex;
  font-size: 18px;
  font-weight: bold;
}

.nav_list {
  padding-right: 32px;

  &:last-child {
    padding-right: 0;
  }
}
/*================================================================
top
================================================================*/
.top {
  background-image: url(../images/bg_color.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 732px;
}

.top_wrapper {
  display: flex;
  padding-top: 109px;
  justify-content: space-between;
}

.top_left {
  margin-top: 194px;
}

.top_left_title {
  font-size: 63px;
  font-weight: bold;
  line-height: 88px;
  padding-bottom: 32px;
}

.top_left_subtitle {
  font-size: 24px;
  margin-bottom: 57px;
  letter-spacing: 0.04em;
}

.phone_apps img {
  padding-right: 26px;
}
/*================================================================
about
================================================================*/
.about_wrapper {
  padding-top: 80px;
}

.about_title {
  font-size: 48px;
  font-weight: bold;
  text-align: center;
  padding-bottom: 60px;
}

.about_contents {
  font-size: 24px;
  line-height: 200%;
  letter-spacing: 0.03em;
  text-align: center;
  padding-bottom: 145px;
}
/*================================================================
review
================================================================*/
.review {
  background-color: #d2daf7;
  height: 616px;
}

.review_wrapper {
  padding-top: 80px;
}

.review_title {
  font-size: 48px;
  font-weight: bold;
  text-align: center;
  padding-bottom: 60px;
}

.review_box {
  display: flex;
  justify-content: space-between;
}

.review_box_inner {
  background-color: #ffffff;
  width: 450px;
  height: 290px;
  border-radius: 12px;
}

.review_box_header {
  display: flex;
  padding: 27px 0 22px 21px;
}

.customer_picture img {
  border-radius: 50%;
  padding-right: 10px;
}

.review_box_right {
  padding-top: 12px;
}

.review_box_title {
  font-size: 18px;
  font-family: "Manrope";
  font-weight: bold;
  padding-bottom: 5px;
}

.review_profile {
  font-size: 16px;
  font-family: "Manrope";
}

.review_box_contents {
  margin: 0 24px;
  line-height: 170%;
}
/*================================================================
question
================================================================*/
.question {
  height: auto;
}

.question_wrapper {
  padding-top: 80px;
  padding-bottom: 120px;
}

.question_title {
  font-size: 48px;
  font-weight: bold;
  text-align: center;
  padding-bottom: 104px;
}

.question_box {
  border: 1px solid #cccccc;
  border-radius: 8px;
  margin-bottom: 32px;
  padding: 24px 40px 24px 40px;
  position: relative;

  dt {
    display: block;
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 0.04em;
    background-image: url(../images/Polygon.jpg);
    background-repeat: no-repeat;
    background-position: right;

    &.active{
      background:url(../images/Polygon2.jpg);
      background-repeat: no-repeat;
      background-position: right;
      }

    &:hover {
      cursor: pointer;
    }
  }

  dd {
    font-size: 16px;
    letter-spacing: 0.04em;
    line-height: 24px;
    padding-left: 2px;
    padding-top: 24px;
    display: none;
  }
}
/*================================================================
footer
================================================================*/
.footer {
  background-color: #000000;
  color: #ffffff;
  width: 100%;
}

.footer_wrapper {
  height: auto;
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: center;
}

.footer_image {
  padding-bottom: 31px;
}

.footer_list {
  display: flex;
  justify-content: center;
}

.footer_item {
  font-family: "Manrope";
  padding-right: 40px;
  padding-bottom: 40px;
  font-size: 16px;

  &:last-child {
    padding-right: 0;
  }
}

.footer_copyright {
  font-family: "Manrope";
  color: #d9dbe1;
  font-size: 14px;
}

/*================================================================
タブレット対応
================================================================*/
@media screen and (min-width: 768px) and (max-width: 1024px) {

}

/*================================================================
スマホ対応
================================================================*/
@media only screen and (max-width: 767px) {

}